html, body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    background: black;
    color: white;
    font-family: 'Tauri', sans-serif;
}

input {
    font-family: 'Tauri', sans-serif;
}

* {
    box-sizing: border-box;
}